.Skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 150px 0px 150px 0px;
}

.SkillsBody {
	width: 70%;
	display: inherit;
	flex-direction: inherit;
	justify-content: inherit;
	align-items: inherit;
}

.ButtonGroup {
	display: none;
	margin: 10px 0px 0px 0px;
	font-size: 1em;
	border-radius: 10px;
	padding: 0px;
	flex-direction: row;
	justify-content: center;
}

.SkillsBody .ButtonGroup button {
	color: #ed5565;
	padding: 10px 10px 10px 10px;
	cursor: pointer;
}

.SkillsBody .ButtonGroup button:nth-child(1) {
	border-radius: 5px 0px 0px 5px;
	border-right: 1px solid #ed5565;
}

.SkillsBody .ButtonGroup button:nth-child(2) {
	border-left: 1px solid #ed5565;
	border-right: 1px solid #ed5565;
}

.SkillsBody .ButtonGroup button:nth-child(3) {
	border-radius: 0px 5px 5px 0px;
	border-left: 1px solid #ed5565;
}

.SubSection {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.SubSectionHeader {
	color: #ed5565;
	font-weight: 600;
	font-size: 2em;
}

.SkillsContainer {
	width: 100%;
	display: inherit;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 40px 0px 0px 0px;
}

@media (max-width: 1050px) {
	.SkillsContainer {
		justify-content: center;
	}
}

@media (max-width: 768px) {
	.SubSection {
		align-items: center;
	}

	.ButtonGroup {
		display: flex;
	}
}

@media (max-width: 558px) {
	.SkillsContainer {
		flex-direction: column;
	}
}

@media (max-width: 375px) {
	.SkillsBody .ButtonGroup button {
		color: #ed5565;
		padding: 9px;
		cursor: pointer;
		font-size: 0.7em;
	}
}
