.Skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 150px 0px 150px 0px;
}

.SkillsBody {
	width: 70%;
	display: inherit;
	flex-direction: inherit;
	justify-content: inherit;
	align-items: inherit;
}

.SubSection {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.SubSectionHeader {
	color: #ed5565;
	font-weight: 600;
	font-size: 2em;
}

.SkillsContainer {
	width: 100%;
	display: inherit;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: 40px 0px 0px 0px;
}

@media (max-width: 1050px) {
	.SubSection {
		/* align-items: center; */
	}

	.SkillsContainer {
		justify-content: center;
	}
}
