.Navigation {
	z-index: 2;
	position: fixed;
	background-color: transparent;
	display: inherit;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: -webkit-fill-available;
	padding: 17px 17px 12px 17px;
}

.Menu {
	margin: 0px 0px 0px 40px;
	width: 100%;
}

.MobileMenu {
	display: none;
}

.NavHeader,
#menu-icon {
	color: #747c92;
	font-size: 1.4em;
	font-weight: 600;
}

#menu-icon {
	font-size: 2em;
}

.NavList {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.NavList a {
	margin: 0px 12px 0px 12px;
}

.NavLink {
	cursor: pointer;
	background-color: transparent;
	border: 0px;
	font-weight: 600;
	font-size: 0.93em;
	color: #747c92;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.NavLink:hover {
	color: #ed5565;
	transition: 0.3s;
}

.NavList HashLink:focus {
	color: #ea3446;
}

.ResumeButton {
	color: #ed5565;
	border-radius: 10px;
	padding: 10px 15px 10px 15px;
}

.ResumeButton p {
	margin: 0px;
}

@media (max-width: 1148px) {
	.NavList a {
		margin: 0px 6px 0px 6px;
	}
}

@media (max-width: 1064px) {
	.NavList a {
		margin: 0px 3px 0px 3px;
	}
}

@media (max-width: 1022px) {
	.NavList a {
		margin: 0px 1px 0px 1px;
	}
}

@media (max-width: 981px) {
	.NavList a {
		margin: 0px 0px 0px 0px;
	}
}

@media (max-width: 994px) {
	.Navigation {
		background-color: #191c2a;
		box-shadow: 1px 1px 5px #000000;
	}

	.MobileMenu {
		display: unset;
	}

	.MobileMenu:hover .NavList {
		display: flex;
	}

	.NavList {
		display: none;
		position: absolute;
		z-index: 0;
		top: 59px;
		right: 0px;
		width: 100%;
		background-color: #191c2a;
		flex-direction: column;
	}

	.NavLink {
		width: 100%;
		background-color: transparent;
		border: 0px;
		font-weight: 600;
		font-size: 0.9em;
		color: #747c92;
		letter-spacing: 0.2em;
	}

	.NavLink:active {
		background-color: #747c92;
		transition: 0.4s;
	}

	.NavList a {
		width: 100%;
	}
}
