.Description li {
	margin: 0px 0px 10px 0px;
}

.Description a {
	color: #3e92cc;
}

.Description a:hover {
	transition: 0.4s;
	color: #ed5565;
}

.Description p {
	font-size: 1.2em;
	color: #ffffff;
}

.Description table {
	width: 100%;
	text-align: left;
}

.Description table td,
.Description table th {
	padding: 6px;
}

.Description table td {
	font-weight: 100;
}

.Description table tr:nth-child(even) {
	background-color: #272b3f;
}

.Description table td span:nth-child(2) {
	text-align: left !important;
	margin: 0px;
}
